<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #noData>
  <h3 class="d-flex justify-content-center font-monospace mt-5">No data found</h3>
</ng-template>

<ng-container *ngIf="allPosts$ | async as allPosts; else loading">
  <ng-container *ngIf="allPosts.length > 0; else noData">
    <app-pagination (page)="setPageNumber($event)" [pageSize]="pageSize" [postLength]="allPosts.length.toString()"></app-pagination>
    <app-page-size (sizeValue)="getPageSize($event)"></app-page-size>
    <ng-container *ngIf="posts$ | async as posts; else loading">
      @for (post of posts; track post) {
        <app-card-element [post]="post"></app-card-element>
      }
    </ng-container>
  </ng-container>
</ng-container>
