<div class="p-5">
  <form #form_create_post="ngForm" (ngSubmit)="createPost(form_create_post.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Title</label>
        <input name="title" type="email" class="form-control" id="inputEmail4" placeholder="Title" ngModel>
      </div>
      <div class="form-group col-md-6 my-2">
        <label for="inputPassword4">Description</label>
        <input name="description" type="text" class="form-control" id="inputPassword4" placeholder="Description"
               ngModel>
      </div>
    </div>
    <div class="form-group col-md-6 my-2">
      <label for="exampleFormControlTextarea1" class="form-label">Content</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Content"
                ngModel></textarea>
    </div>
    <div class="form-group col-md-4 my-2">
      <label for="inputState">Category:</label>
      <select name="categoryId" id="inputState" class="form-control" ngModel>
        <option selected value="Choose Category" disabled>Choose Category ...</option>
        <ng-container *ngIf="category$ | async as categories">
          @for (category of categories; track category.id) {
            <option value="{{category.id}}">{{ category.name }}</option>
          }
        </ng-container>
      </select>
      <button type="button" class="mt-2" mat-raised-button (click)="onNewCategory()">
        New Category
        <fa-icon class="add-icon btn-lg" [icon]="iconAdd"></fa-icon>
      </button>
      <div #newCategory></div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create Post</button>
  </form>
</div>
