<ng-template #loading>
  <div class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #noComment>
  <h2 class="blockquote mx-auto w-75 mt-3 font-monospace">No comment found!</h2>
</ng-template>

<ng-template #noImage>
  <div class="text-center mt-1">
    <img src="assets/no-image.png" class="img-thumbnail" style="width: 400px; height: 400px" alt="Responsive image">
  </div>
</ng-template>

<div class="detail-container">
  <ng-container *ngIf="post$ | async as post; else loading">
    <mat-card class="my-3 mx-auto mat-elevation-z4 w-75">
      <mat-card-header>
        <mat-card-title>
          <div class="row">
            <div class="col post-title">
              <h1>{{ post.title }}</h1>
            </div>
            <div class="col-md-auto">
              <ng-container *ngIf="!post.imageDTO.id">
                <button type="button" class="btn btn-secondary custom-btn" (click)="openAddImage('0','0')">
                  <fa-icon class="add-icon btn-lg" [icon]="iconAdd"></fa-icon>
                  Add Picture
                </button>
              </ng-container>
            </div>
          </div>
        </mat-card-title>
        <span class="spacer"></span>
        <ng-container *ngIf="category$ | async as category">
          <mat-card-subtitle>
            <h5 title="{{category.description}}" class="badge text-bg-success">{{ category.name }}</h5>
          </mat-card-subtitle>
        </ng-container>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-3">
        <div [innerHTML]="post.content"></div>
        <ng-container *ngIf="post.imageDTO.id; else noImage">
          <div class="text-center mt-1">
            <img [src]="'data:' + post.imageDTO.type + ';base64,' + post.imageDTO.data" class="img-thumbnail"
                 style="width: 400px; height: 400px" alt="{{post.imageDTO.name}}">
          </div>
        </ng-container>
      </mat-card-content>
      <mat-card-content class="mt-3">
        <button type="button" class="btn btn-danger" (click)="openDialogDelete('0','0')">Delete</button>
        <button type="button" class="btn btn-info mx-3" (click)="openDialogEditPost('0','0')">Edit</button>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <mat-divider class="mx-auto w-50 border-black"></mat-divider>
  <div class="my-3 mx-auto w-75">
    <h4>Comment</h4>
  </div>
  <ng-container *ngIf="comments$ | async as comments; else noComment">
    <ng-container *ngIf="comments.length > 0; else noComment">
      <div class="row d-flex justify-content-center mx-auto w-75">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
          <div class="card-body p-3">
            @for (comment of comments; track comment) {
              <app-comment [comment]="comment"></app-comment>
            }
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-secondary font-monospace" (click)="openCommentDialog('200ms', '100ms')">New
      Comment
    </button>
  </div>
</div>




